<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p>
<input type="text" ngModel={{a}}>
<input type="text" ngModel={{o}}>
<input type="text" ngModel={{b}}> <br/><br/>

<button name="7">7</button> <button name="7">8</button> <button name="7">9</button> <br/>
<button name="7">4</button> <button name="7">5</button> <button name="7">6</button> <br/>
<button name="7">1</button> <button name="7">2</button> <button name="7">3</button> <br/>
<button name="7">-</button> <button name="7">+</button> <button name="*">*</button> <button name="=">9</button> <br/><br/>