<input [(ngModel)] = "a" type="text" />
<br/><br/>

<button (click)="7()">7</button> <button (click)="8()">8</button> <button (click)="9()">9</button>  <br/>
<button (click)="4()">4</button> <button (click)="5()">5</button> <button (click)="6()">6</button>  <br/>
<button (click)="1()">1</button> <button (click)="2()">2</button> <button (click)="3()">3</button>  <br/>
<button (click)="kurang()">-</button> <button (click)="tambah()">+</button> <button (click)="kali()">*</button> <button (click)="hasil()">=</button> <br/><br/>